#techImg {
    height: 9rem;
    width: 9rem;
    border-radius: 3px;
}

.ball {
    margin: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: 0 0 12.5px 3.75px #cdcfc3;
}

.ball:hover {
    box-shadow: 0 0 50px 15px #cdcfc3;
    transform: scale(1.2);
}

.ballContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}